<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Django源码分析之server.md</key>
			<dict>
				<key>lastModification</key>
				<real>484201572.14213699</real>
				<key>version</key>
				<dict>
					<key>0ebe519bf767846fbfdabbd10f5ea933d66d14ae2aaf5d0298fc192d2846035f</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>Django源码分析之执行入口.md</key>
			<dict>
				<key>lastModification</key>
				<real>484192813.131814</real>
				<key>version</key>
				<dict>
					<key>0ebe519bf767846fbfdabbd10f5ea933d66d14ae2aaf5d0298fc192d2846035f</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Django源码分析之权限系统_ 擒贼先擒王.md</key>
			<dict>
				<key>lastModification</key>
				<real>484832478.14758003</real>
				<key>version</key>
				<dict>
					<key>0ebe519bf767846fbfdabbd10f5ea933d66d14ae2aaf5d0298fc192d2846035f</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>定时爬虫抓当日免费应用.md</key>
			<dict>
				<key>lastModification</key>
				<real>484192776.43179297</real>
				<key>version</key>
				<dict>
					<key>0ebe519bf767846fbfdabbd10f5ea933d66d14ae2aaf5d0298fc192d2846035f</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>排查实时tail功能cpu占用过高问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>484192776.43179399</real>
				<key>version</key>
				<dict>
					<key>0ebe519bf767846fbfdabbd10f5ea933d66d14ae2aaf5d0298fc192d2846035f</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Django源码分析之权限系统_ 擒贼先擒王.md</string>
		</array>
		<array>
			<string>Django源码分析之执行入口.md</string>
		</array>
		<array>
			<string>Django源码分析之server.md</string>
		</array>
		<array>
			<string>定时爬虫抓当日免费应用.md</string>
		</array>
		<array>
			<string>排查实时tail功能cpu占用过高问题.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>0ebe519bf767846fbfdabbd10f5ea933d66d14ae2aaf5d0298fc192d2846035f</key>
			<integer>20</integer>
		</dict>
	</dict>
</dict>
</plist>
